=phone
  @media only screen and (max-width : 599px)
    @for $i from 0 through 12
      .phone-#{$i}
        grid-column: span #{$i}
    @content
=tablet
  @media only screen and (min-width : 600px)
    @for $i from 0 through 12
      .tablet-#{$i}
        grid-column: span #{$i}
    @content
=desktop
  @media only screen and (min-width : 1200px)
    @for $i from 0 through 12
      .desktop-#{$i}
        grid-column: span #{$i}
    @content
