html
  box-sizing: border-box
body
  background-color: $app-background-color
.grid
  display: grid
  grid-template-columns: repeat(12, minmax(0,1fr))
  grid-gap: $margin-phone
  flex-grow: 1
  margin: $margin-phone
  margin-top: 0
  padding-top: $margin-phone
+phone
+tablet
  .grid
    grid-gap: $margin-tablet-desktop
    margin: $margin-tablet-desktop
    margin-top: 0
    padding-top: $margin-tablet-desktop
+desktop
  .grid
    grid-gap: $margin-tablet-desktop
    margin: $margin-tablet-desktop
    margin-top: 0
    padding-top: $margin-tablet-desktop
