+new(app-menu)
  min-width: $app-menu-width
  min-height: 100vh
  background-color: $app-menu-color
  display: none
  border-right: 1px solid $divider-color
  +has(content)
    width: $app-menu-width
    position: fixed
  +has(nav-button)
  +if-its(open)
    display: block
  +if-its(closed)
    display: none
  +new(nav-buttons)
    margin: 0
    color: $app-menu-text-color
    a:hover, a:active
      background: $app-menu-hover-color
    +has(button)
      height: 48px
      display: flex
      positon: relative
      align-items: center
      justify-content: flex-start
      padding: 0 16px
      margin: 0
      overflow: hidden
      text-decoration: none
      +if-its(activated)
        background-color: $primary-color-light
        color: white
        &:hover
          background-color: $primary-color-light
      &:focus
        outline: none
    +has(icon)
      color: $app-menu-icon-color
      display: inline-flex
      flex-shrink: 0
      align-items: center
      justify-content: center
      padding-right: 20px
// Ughly hack, ToDo: Fix style!!!!
.is-activated > .nav-buttons__icon
  color: white
+phone
  +new(app-menu)
    position: fixed
    top: 0
    width: $app-menu-width
    height: 100vh
    z-index: 300
    border-right: none
