+new(app-bar)
  box-sizing: border-box
  user-select: none
  background-color: $primary-color
  color: white
  width: 100%
  height: $app-bar-height
  padding: 12px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)
  position: fixed
  display: flex
  flex-direction: row
  align-items: center
  overflow: hidden
  z-index: 100
  +has(menu)
    margin-right: 8px
    padding: 12px
    &:hover, &:active, &:focus
      background-color: rgba(255, 255, 255, 0.14)
  +has(title-area)
    padding-right: 8px
    flex: 1
  +has(title)
    padding-right: 8px
  +has(nav-button)
    margin-left: 8px
    padding: 12px
    &:hover, &:active, &:focus
      background-color: rgba(255, 255, 255, 0.14)
