+new(button)
  display: inline-block
  position: relative
  box-sizing: border-box
  height: 36px
  min-width: 64px
  padding: 0 16px
  border: none
  border-radius: 2px
  outline: none
  text-align: center
  user-select: none
  overflow: hidden
  &:active
    outline: none
  &:hover
    cursor: pointer
  +has(flat)
    +when(primary)
      color: $primary-color
      &:hover
        background: lighten($primary-color, 50%)
    +when(secondary)
      color: $secondary-color
      &:hover
        background: lighten($secondary-color, 50%)
  +has(raised)
    +when(primary)
      margin-left: 15px
      color: white
      background: $primary-color
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)
      &:hover
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4)
        background: lighten($primary-color, 20%)
    +when(secondary)
      margin-left: 15px
      color: white
      background: $secondary-color
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)
      &:hover
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4)
        background: lighten($secondary-color, 20%)
