+new(checkbox)
  position: relative
  height: 20px
  margin: 16px 20px 16px 0
  label
    cursor: pointer
    user-select: none
    font-size: 16px
    margin-left: 10px
    &:before, &:after
      box-sizing: border-box
      content: ""
      position: absolute
      left: 0
      top: 0
    &:before
      width: 20px
      height: 20px
      background: white
      border: 2px solid rgba(0, 0, 0, 0.54)
      border-radius: 2px
      cursor: pointer
      transition: background .3s
  input[type="checkbox"]
    outline: 0
    margin-right: 10px
    &:checked
      + label:before
          background: $primary-color
          border: none
      + label:after
          transform: rotate(-45deg)
          top: 5px
          left: 4px
          width: 12px
          height: 6px
          border: 2px solid white
          border-top-style: none
          border-right-style: none
