+new(fab)
  position: fixed
  bottom: 1rem
  right: 1rem
  background: $secondary-color
  color: $fab-color-icon
  display: inline-flex
  justify-content: center
  box-sizing: border-box
  width: 56px
  height: 56px
  padding: 0
  border: none
  outline: none
  border-radius: 50%
  cursor: pointer
  user-select: none
  overflow: hidden
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2)
  z-index: 2000
+desktop
  +new(fab)
    bottom: 2rem
    right: 2rem

