table
  position: relative
  border: 1px solid $divider-color
  border-right: none
  border-left: none
  border-collapse: collapse
  white-space: nowrap
  font-size: 14px
  background-color: white
  width: 100%
  thead
    padding-bottom: 3px
  tbody
    tr
      position: relative
      height: 48px
      &:hover
        background-color: #eeeeee
  td, th
    padding: 0 18px 12px 18px
    text-align: left
    &:first-of-type
      padding-left: 24px
    &:last-of-type
      padding-right: 24px
  td
    position: relative
    vertical-align: middle
    height: 48px
    border-top: 1px solid $divider-color
    padding-top: 12px
    box-sizing: border-box
  th
    position: relative
    vertical-align: bottom
    text-overflow: ellipsis
    @extend .body-2
    height: 52px
    font-size: 14px
    color: rgba(#000, 0.54)
    padding-bottom: 8px
    box-sizing: border-box



