+new(text-field)
  display: block
  position: relative
  margin-bottom: 8px
  min-height: 60px
  background: none

  +has(input)
    width: 100%
    padding: 10px 0 5px 0
    display: block
    border: none
    border-radius: 0
    outline: none
    border-bottom: 1px solid $form-line-color
    +if-its(error)
      border-bottom: 1px solid $form-error-color

    font-size: 16px
    &:focus
      +if-its(error)
        border-bottom: 2px solid $form-error-color
        
      border-bottom: 2px solid $primary-color
      margin-bottom: -1px
    &:focus ~ label
      top: -10px
      font-size: 14px
      color: $primary-color
  +has(label)
    +if-its(active)
      top: -10px
      font-size: 14px
      color: $form-placeholder-color
    +if-its(error)
      color: $form-error-color !important
    font-size: 16px
    position: absolute
    pointer-events: none
    top: 12px
    color: $form-placeholder-color
    transition: 0.2s ease all
  +has(error)
    font-size: 12px
    display: block
    padding-top: 3px
    color: $form-error-color
  +has(hint)
    font-size: 12px
    display: block
    margin-top: 3px
